<div *ngIf = "product">
    <h3>{{ product.name }} Details</h3>
    <div><span>id: {{product.productId}}</span></div>
    <div>
        <label>Name:
            <input [(ngModel)] = "product.name" placeholder="name">
        </label>
    </div>
    <div>
        <label>Product Number:
            {{product.productNumber}}
        </label>
    </div>
    <div>
        <label>Color:
            {{product.color}}
        </label>
    </div>
    <div>
        <label>List Price:
            {{product.listPrice}}
        </label>
    </div>
    <div>
        <label>Image:
            <img src="data:image/gif;base64,{{product.thumbNailPhoto}}">
        </label>
    </div>
</div>
<br>
<div>
    <button (click)="goBack()">go back</button>
</div>